# Checkpoints and compiled Python files
*.pt
*.pth
__pycache__/
*.pyc

# Local environments
.venv/
.env

# Generated archives
*.tar.gz
*.zip

# Generated results folders if necessary
results_reproduce/
results_notebook/
